<div class="row">
    <div class="col-xs-12">
	<img style="max-width:400px"
	     *ngIf="book.image"
	     [src]="book.image"> <!-- Url chargement du fichier -->
	<h1>{{ book.title }}</h1>
	<h2>par {{ book.author }}</h2>
	<p>{{ book.synopsis }}</p>
	<button class="btn btn-primary"
		(click)="onBackToBookList()">Retour à la liste des livres</button>
	&nbsp;
	<button class="btn btn-danger"
		       (click)="onRemoveBook()">Supprimer ce livre</button>

	<!-- ERROR -->
	<div class="form-group">
	    <h4>Ajouter une image</h4>
	    <input type="file"
		   (change)="detectFiles($event)"
		   accept="image/*"> 
	    <p class="text-success"
	       *ngIf="fileUploaded">Fichier image chargé !</p>
	</div>

	<button class="btn btn-success"
		       [disabled]="fileIsUploading"
		       (click)="onSaveImage()">Enregistrer
	</button>
	<!-- fin ERROR -->
	
    </div>
</div>
